@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-transform: capitalize;
}
p {
  line-height: 2;
}
.blog-text {
  color: red;
  line-height: 0.5;
}
.products-text {
  color: green;
  line-height: 3;
}
